@keyframes cable-breathing {

  0%,
  100% {
    opacity: 0.7;
  }

  50% {
    opacity: 1;
  }
}

@keyframes cable-pulse {

  0%,
  100% {
    filter: drop-shadow(0 0 2px currentColor);
  }

  50% {
    filter: drop-shadow(0 0 8px currentColor);
  }
}

.cable-layer-normal {
  animation: cable-breathing 3s ease-in-out infinite;
  /* opacity: 1; */
}

.cable-layer-broken {
  opacity: 0.3;
  filter: none;
}

.equipment-marker {
  animation: marker-pulse 2s ease-in-out infinite;
  /* filter: drop-shadow(0 0 8px currentColor); */
}

@keyframes marker-pulse {

  0%,
  100% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
  }

  50% {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.9);
  }
}